html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* link styles */
a {
  color: #222;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link-group a ~ a,
.link-group a ~ button {
  margin-left: 1em;
}

/* nav styles */
nav {
  display: flex;
  padding: 1.5em 2em 0 2em;
}

nav button {
  background-color: #4285f4;
  border: 1px solid #4285f4;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5em 1em;
}

nav .col-1 {
  padding-top: 0.75em;
}

nav .col-2 {
  flex: 1 1 0;
}

/* main content styles */
form button {
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.5;
  margin-top: 1.5em;
  padding: 0.5em 1em;
}

form button ~ button {
  margin-left: 1em;
}

form button:hover {
  border: 1px solid #e2e2e2;
}

.main-search {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-search img {
  margin: 0 auto;
  width: 15vw;
}

.main-search input {
  border: 2px solid #f4f4f4;
  border-radius: 40px;
  line-height: 2em;
  margin-top: 2em;
  padding: 0.5em 0 0.5em 1.25em;
  width: 35vw;
}

.main-search input:focus,
.main-search input:hover {
  box-shadow: 0px -1px 3px 0px #d3d3d3,
              -2px 2px 3px 0px #d3d3d3;
}

/* footer styles */
footer {
  background-color: #f4f4f4;
  border-top: 1px solid #e2e2e2;
  display: flex;
  height: 4vh;
  padding: 1em 2em 0 2em;
}

footer .col-2 {
  flex: 1 1 0;
}
